body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url("/images/web-background.jpg");
  background-size: cover;
  background-position: center;  
  background-repeat: no-repeat; 
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: Arial, sans-serif;
}

.container {
  width: 100%;
  max-width: 500px;
  margin-left: 5%;
}

.login-box {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 100%;
  box-sizing: border-box;
}

h2 , h3, p{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #043a60;
}

.input-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #043a60;
  font-size: 14px;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.btn {
  width: 100%;
  padding: 12px;
  background:#fd576e;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn:hover {
  background: #ff5c73;
}

.links {
  text-align: center;
  margin-top: 20px;
}

.links a {
  color: #043a60;
  text-decoration: none;
  font-weight: bold;
}

.links a:hover {
  text-decoration: underline;
}

.google-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  text-decoration: none;
  color: #333;
  font-size: 14px;
  transition: box-shadow 0.3s ease;
}

.google-btn img {
  width: 20px;
  margin-right: 10px;
}

.google-btn:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

  .col-sm-4 {
    margin-top: 20px;
  }